<div id="page_wrapper">
	<div id="profile_image">
		<%= image_tag "profile.jpg" %>
	</div>

	<div id="content">
		<h1>Hey, I'm Abd El Rahman Hassan</h1>
		<p>Welcome to My Blog.</p>
		<p>I'm Ruby On Rails Developer Experiences 2 Years.</p>
		<p>If you'd like to follow along as I learn more Ruby on Rails, find me on Twitter <a href="http://twitter.com/abdelrahman_hsn">@abdelrahman_hsn</a> or on the LinkidIn at <a href="https://www.linkedin.com/in/abd-el-rahman-hsn/">Abd El Rahman HSN</a>, and get my posts and exclusive content in your inbox by signing up for my newsletter <a href="http://eepurl.com/02olT">here</a>.</p>
	</div>
</div>