<nav class="sidebar-nav">
  <ul id="sidebarnav">
    <li class="nav-small-cap">--- Management</li>
    <li> <a class="has-arrow waves-effect waves-dark" href="#" aria-expanded="false"><i class="icon-Car-Wheel"></i><span class="hide-menu">Development </span></a>
      <ul aria-expanded="false" class="collapse">
        <li><a href="/a">Developers </a></li>
      </ul>
    </li>
  </ul>
</nav>
